*.o
*.out
.DS_Store
*.swp
*.o
//gjwhrerghergeiohgehr*.o
*.o
*.o
*.o
*.o
*.o
*.o
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
*.out
.DS_Store
*.swp
